<div class="login-wrapper">
  <div class="login-card">
    <h2>JVWallet</h2>
    <p>Faça login para acessar sua carteira</p>

    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="input-group">
        <label for="login">Usuário</label>
        <input
          id="login"
          pInputText
          type="text"
          formControlName="login"
          required
        />
        <small
          class="error-msg"
          *ngIf="
            loginForm.get('login')?.invalid && loginForm.get('login')?.touched
          "
        >
          Usuário é obrigatório.
        </small>
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input
          id="password"
          pInputText
          type="password"
          formControlName="password"
          required
        />
        <small
          class="error-msg"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          Senha é obrigatória.
        </small>
      </div>

      <!-- Botões alinhados -->
      <div class="p-d-flex p-jc-between p-mt-3">
        <p-button
          type="submit"
          label="Entrar"
          icon="pi pi-sign-in"
          class="btn-login"
          [disabled]="loginForm.invalid"
        ></p-button>
      </div>

      <div class="text-center mt-6 login-footer">
        <span class="text-600">
          Não tem uma conta ?
          <a (click)="navigateToRegister()" class="login-link font-medium">
            Cadastre-se
          </a>
        </span>
      </div>
    </form>
  </div>
</div>

<p-toast></p-toast>
